extends layout

block content

  h1= title
  - var image_names = ["egale.jpg","swan.jpg","swwan.jpg","duck.jpg","duuck.jpg"]
  - for(let i=0; i<3;i++){
    -var num = image_names[Math.floor(Math.random() * 5)]
    
    img(src= "/images/"+num, alt= num, style={width: "300",height: "300"})
  -}